---
import Container from "./Container.astro";
import { Image } from "astro:assets";
import heroBg from "../assets/images/background.jpg";
import profile1 from "../assets/images/profile1.jpg";
import profile2 from "../assets/images/profile2.jpg";
import profile3 from "../assets/images/profile3.jpg";
import profile4 from "../assets/images/profile4.jpg";
import { getImage } from "astro:assets";

const imgOpt = await getImage({
  src: heroBg,
  quality: "low",
});
---

<div
  class="bg-cover bg-center md:bg-top bg-no-repeat md:bg-fixed bg-teal-950/90 bg-blend-darken"
  style=`background-image: url('${imgOpt.src}')`
>
  <!-- Hero Container -->
  <Container
    as="section"
    class="h-full flex items-center flex-col md:flex-row text-gray-200 px-4 pt-20 gap-8"
  >
    <!-- Hero left -->
    <section class="w-full gap-3 flex flex-col">
      <h4
        class="uppercase text-xs text-amber-400/80 md:text-sm font-roboto md:tracking-wider"
      >
        Experience Excellence, Achieve Greatness
      </h4>
      <h1
        class="text-2xl md:text-5xl flex flex-col font-marcellus tracking-wide"
      >
        <span class="break-keep">Empowering the Leaders</span><span
          >of Tomorrow!</span
        >
      </h1>
      <p class="text-xs md:text-sm mt:2 md:mt-5 w-full md:w-120">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>
      <div class="flex items-center mt-4">
        <Image
          src={profile1}
          alt="prifle-1"
          height={40}
          width={40}
          class="w-10 h-10 rounded-full border-2 border-amber-400/80 object-cover"
          loading="eager"
          quality="low"
        />
        <Image
          src={profile2}
          alt="profile-2"
          height={40}
          width={40}
          class="w-10 h-10 rounded-full border-2 border-amber-400/80 object-cover -ml-3"
          loading="eager"
          quality="low"
        />
        <Image
          src={profile3}
          alt="prffile-3"
          height={40}
          width={40}
          class="w-10 h-10 rounded-full border-2 object-cover border-amber-400/80 -ml-3"
          loading="eager"
          quality="low"
        />
        <Image
          src={profile4}
          alt="profile-4"
          height={40}
          width={40}
          class="w-10 h-10 rounded-full border-2 object-cover border-amber-400/80 -ml-3 mr-3"
          loading="eager"
          quality="low"
        />

        <h1 class="text-xs md:text-sm font-semibold tracking-wide">
          Trusted by 5000+ All buisness company
        </h1>
      </div>
      <button class="p-4 bg-teal-950 text-sm text-gray-100 w-fit mt-4"
        >Booked Admission</button
      >
    </section>

    <!-- Hero right -->

    <aside class="bg-teal-800 p-8 font-roboto tracking-wider w-full md:w-auto">
      <div>
        <div class="mb-4">
          <h1 class="text-xs font-semibold">Academic Student</h1>
          <h1 class="text-xs font-semibold">Information</h1>
          <p class="text-xs text-gray-100/70 mt-4 pb-4 border-b">
            One of the World's most dynamic caplitals.
          </p>
        </div>
        <div class="mb-4">
          <h1 class="text-xs font-semibold">Academic Student</h1>
          <h1 class="text-xs font-semibold">Information</h1>
          <p class="text-xs text-gray-100/70 mt-4 pb-4 border-b">
            One of the World's most dynamic caplitals.
          </p>
        </div>
        <div>
          <h1 class="text-xs font-semibold">Academic Student</h1>
          <h1 class="text-xs font-semibold">Information</h1>
          <p class="text-xs text-gray-100/70 mt-4 pb-0">
            One of the World's most dynamic caplitals.
          </p>
        </div>
      </div>
    </aside>
  </Container>
  <div class="bg-teal-950 w-full h-20">
    <Container as="div" class="flex items-center h-full px-4">
      <h1
        class="text-xl md:text-2xl text-gray-200 font-semibold font-marcellus tracking-wider"
      >
        Free Consultation for Students
      </h1>
    </Container>
  </div>
</div>
